<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thyemleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>The GreenFox Licence Database</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
<h1>The GreenFox Licence Database</h1>
<p></p>

<div class="input-group col-md-12">
    <form th:action="@{/list}" th:object="${search}" method="get">
        <input type="search" name="search" placeholder="Search"/>
        <button type="submit" value="Submit">Search</button>
    </form>
    <p>th:if="${errorMessage}">Sorry, the submitted licence plate is not valid!</p>
</div>
<p></p>
<a th:href="@{/list/police}" class="btn btn-xs btn-success" th:text="'Police Cars Only'" />
<a th:href="@{/list/diplomat}" class="btn btn-xs btn-success" th:text="'Diplomats Only'" />
<p></p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Licence Plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>
    <tr th:each="car:${cars}">
        <td th:text="${car.licencePlate}"></td>
        <td><a th:href="@{'/{brand}'(brand=${car.brand})}" th:text="${cars.brand}"></a></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.year}"></td>
    </tr>

</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
